body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
   
  }
  
.head{
    display: flex;
    justify-content: space-between;
}
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
  
  .card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .card h2 {
    margin-top: 0;
  }
 
  
  .dark {
    background-color: #333;
    color: #fff;
  }
  
  .dark #toggleMode {
    background-color: #555;
    color: #fff;
   
  }
  
  .dark #app {
    background-color: #444;
    color: #fff;
  }
  
  .dark img {
    filter: invert(1);
  }
  