.container{
    max-width: 1140px;
    width: 55%;
    margin: 0 auto;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 80px);
    gap: 2px;
    margin-top: 7rem;
}
.item{
    font-size: 2rem;
    color: wheat;
}
.item:nth-child(2){
 background-color: rgb(203, 56, 164);
 grid-column-start: 2;
 grid-column-end: 4;
 grid-row-start: 1;
 grid-row-end: 3;
}
.item:nth-child(3){
    background-color: rgb(224, 127, 144);
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 5;
}
.item:nth-child(4){
    background-color: rgb(219, 219, 8);
    grid-column-start: 6;
}
.item:nth-child(5){
    background-color:  rgb(41, 155, 54);
}
.item:nth-child(6){
    background-color: rgba(33, 120, 155, 0.575);
}
.item:nth-child(7){
background-color: rgb(86, 252, 105);
}
.item:nth-child(8){
    background-color: rgb(8, 107, 19);

}.item:nth-child(9){
background-color: aquamarine;
}
.item:nth-child(10){
background-color:cyan;
}
.item:nth-child(1){
    background-color: rgb(194, 39, 116);
}

.item:nth-child(11){
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: purple;
}
.item:nth-child(12){
   background-color: red;
}
