nav{
    display: flex;
    justify-content: space-between;
    max-width: 1270px;
    margin: auto;
}
.menu{
    display: flex;
    gap: 20px;
}
.flex{
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: auto;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}