.col-4{
    width: calc(100%/12*4);
  
    padding: 20px;
    box-sizing: border-box;
}
.box{
    background-color: lightgrey;
    height: 227px;
    border-radius: 10px;
    margin: 0px 13px 27px;
  
}
.row{
    display: flex;
   flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.flex-wrap{
   flex-wrap: wrap;
}
.header{
    background-color: black;
    width: 100%;
    height: 55px;
    margin-bottom: 20px;
}
.footer{
    background-color: plum;
    height: 40px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    margin-bottom: 60px;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    width: 75%;
    min-width: 300px;
    margin-bottom: 50px;
}
body{
    margin: 0;
}